<div class="slider-container">
    <div id="slide-container" class="slider-images">
        <img src="../Static/IMG/london.jpg">
        <img src="../Static/IMG/ny.jpg" style="display: none;">
        <img src="../Static/IMG/spb.jpg" style="display: none;">
    </div>
    <div class="slider-btn-container">
        <button id="btnSliderPrev" onclick="prevSlide()" class="slider-button" href="#"><</button>
        <button id="btnSliderNext" onclick="nextSlide()" class="slider-button" href="#">></button>
    </div>
</div>